<div class="my-8" x-data="{ list: window.pockettab.list, formatDate: window.pockettab.formatDate }">
  <template x-if="!list || list.length === 0">
    <div>No items to show!</div>
  </template>

  <template x-if="list && list.length > 0">
    <div class="flex flex-wrap">
      <template x-for="item in list" :key="item">
        <div
          class="max-w-sm rounded overflow-hidden bg-gray-200 shadow-inner ml-0 mr-4 mb-4 flex-grow"
        >
          <div class="px-6 py-4 flex justify-between">
            <span
              class="bg-gray-300 rounded-full px-3 py-1 text-xs font-semibold text-gray-700"
              x-text="formatDate(item.time_added)"
            >
            </span>
            <span class="flex">
              <template x-if="item.is_article > 0">
                <img src="../assets/file.svg" alt="video" />
              </template>
              <template
                x-if="item.has_video > 0 || item.resolved_url.includes('youtu') || item.resolved_url.includes('youtube')"
              >
                <img src="../assets/video.svg" alt="video" />
              </template>
            </span>
          </div>
          <div class="px-6 py-4 pt-0">
            <a
              class="font-bold text-xl mb-2"
              x-text="item.given_title || item.resolved_title"
              x-bind:href="item.resolved_url"
              target="_blank"
              rel="”noopener"
              noreferrer”
            ></a>
          </div>
        </div>
      </template>
    </div>
  </template>
</div>
